@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
* {
  margin-top: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Walter Turncoat", cursive;
}

body {
  background-image: url(resources/background.jpg);
  background-size: 30px;
  padding: 20px;
}
h1 {
  font-size: 2em;
  margin-bottom: 5px;
  text-align: center;
}
input {
  color: rgb(255, 255, 255);
  border: 2px solid white;
  background: rgba(139, 135, 135, 0.201);
  height: 2rem;
}
/* .para-github img {
  width: 25px;
  height: 25px;
  margin-top: -6px;
}
.para-github {
  margin-top: -15px;
  display: flex;
  gap: 5px;
} */

input {
  width: 10em;
  padding: 10px;
  font-size: large;
}
.container-top button {
  padding: 5px;
  color: black;
  cursor: pointer;
}
.input-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-gameplay {
  display: flex;
  justify-content: center;
  gap: 3%;
}

.container-style {
  border: 2px solid rgba(180, 174, 174, 0.697);
  width: 12rem;
  height: 13rem;
  margin-bottom: 5px;
  /*   background-color: rgba(134, 134, 134, 0.682);
 */
  text-align: center;
}

.para-score-style {
  margin: 0;
}

.container-style img {
  margin-top: 10px;
  max-width: 12rem;
  max-height: 10rem;
}

.p-text {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  font-weight: 600;
}
.versus {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin: auto 0;
}

.user-selection-images {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.user-selection-images img {
  width: 10rem;
  height: 8rem;
  flex: 1;
}

.user-selection-images button {
  border: none;
  background: none;
  cursor: pointer;
}

.gameplay-screen {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
