@import url("https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap");
* {
  margin-top: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Walter Turncoat", cursive;
}

body {
  background-image: url(resources/background.jpg);
  background-size: contain;
  padding: 20px;
  background-position: center center;
  overflow: hidden;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;
}
h1 {
  margin-top: 10vh;
  font-size: 2em;
  margin-bottom: 5px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
  text-align: center;
}
input {
  color: rgb(255, 255, 255);
  border: 2px solid white;
  background: rgba(139, 135, 135, 0.201);
  height: 3rem;
  width: 10em;
  padding: 10px;
  font-size: large;
  margin-top: 10vh;
  animation: pulse 1.5s infinite;
}
.para-github img {
  width: 25px;
  height: 25px;
  margin-top: -6px;
  background: white;
}
.para-github {
  margin-top: -15px;
  display: flex;
  gap: 5px;
}

.container-top button {
  padding: 5px;
  color: black;
  cursor: pointer;
  margin-top: 10px;
  width: 50%;
}

button:hover {
  background-color: yellow;
  animation: pulse 0.5s alternate;
  font-weight: bold;
}
.input-button {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.container-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-gameplay {
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
  background: none;
  transition: background 1s;
}

.container-style {
  width: 10rem;
  /*   background-color: rgba(134, 134, 134, 0.682);
 */
  text-align: center;
  height: 210px;
  padding: 5px 10px;
}

.para-score-style {
  margin: 0;
}

.container-style img {
  margin-top: 30px;
  /*   max-width: 12rem;
  max-height: 10rem; */
  width: 100%;
}

.p-text {
  padding: 5px 0;
  text-align: center;
  font-weight: 600;
  margin-top: 15px;
}
.msg-text {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: yellow;
  margin-top: -5vh;
  height: 10vh;
}
.versus {
  color: red;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  margin-right: 5px;
  padding-top: 50px;
}

.user-selection-images {
  margin-top: 0;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: nowrap;
  border-radius: 5px;
}

.user-selection-images img {
  width: 100%;
}

.user-selection-images button {
  width: 8rem;
  border: none;
  background: none;
  padding: 10px;
  animation: pulse 1s infinite;
  box-shadow: inset -5px -5px 30px 5px #e1d45bb5, inset 5px 5px 30px 5px #ffffff;
  border-radius: 40%;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.user-selection-images button:hover {
  /*   background: rgba(255, 0, 0, 0.396);
 */
  background: rgba(255, 255, 0, 0.707);
  border-radius: 30%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .user-selection-images button:hover {
    background: none; /* Or specify the default background for mobile */
    border-radius: 0; /* Reset the border-radius */
    cursor: pointer; /* You can keep or reset the cursor style as needed */
  }
}

.gameplay-screen {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#gameplay-screen {
  display: none;
}

.winner,
.loser {
  visibility: hidden;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}
a {
  text-decoration: none;
}
